@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}

@keyframes slideInLeft {
	from 	{ transform:translateX(-100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
	from 	{ -moz-transform:translateX(-100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
	from 	{ -webkit-transform:translateX(-100%); }
	to 		{ -webkit-transform: translateX(0); }
}



@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}

@keyframes slideOutRight {
	from 	{ transform:translateX(0); }
	to 		{ transform: translateX(100%); }
}
@-moz-keyframes slideOutRight {
	from 	{ -moz-transform:translateX(0); }
	to 		{ -moz-transform: translateX(100%); }
}
@-webkit-keyframes slideOutRight {
	from 	{ -webkit-transform:translateX(0); }
	to 		{ -webkit-transform: translateX(100%); }
}


.view-animate {
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slideInRight .view-animate.ng-leave {
	-webkit-transform-origin: 0% 0%;
	-webkit-animation: slideOutLeft 0.5s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: slideOutLeft 0.5s both ease-in;
	transform-origin: 0% 0%;
	animation: slideOutLeft 0.5s both ease-in;
}

.slideInRight .view-animate.ng-enter {
	-webkit-animation:slideInRight 0.5s both ease-in;
	-moz-animation:slideInRight 0.5s both ease-in;
	animation:slideInRight 0.5s both ease-in;
}


.slideInLeft .view-animate.ng-leave {
	-webkit-transform-origin: 0% 0%;
	-webkit-animation: slideOutRight 0.5s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: slideOutRight 0.5s both ease-in;
	transform-origin: 0% 0%;
	animation: slideOutRight 0.5s both ease-in;
}

.slideInLeft .view-animate.ng-enter {
	-webkit-animation:slideInLeft 0.5s ease-in;
	-moz-animation:slideInLeft 0.5s ease-in;
	animation:slideInLeft 0.5s ease-in;
}